<h1><strong>Angular</strong></h1>
<mat-card class="example-card">
	<mat-card-content>
		<mat-form-field appearance="outline" class="input-message">
			<mat-label>Message for C#</mat-label>
			<input matInput placeholder="Message" type="text" [formControl]="messageField">
			<mat-icon matSuffix>chat</mat-icon>
			<mat-error *ngIf="messageField.invalid">Write something for C#!</mat-error>
		</mat-form-field>
	</mat-card-content>
	<mat-card-actions align="end">
		<button mat-raised-button color="primary" [disabled]="messageField.invalid" (click)="talkToCSharp()">Talk to
			C#</button>
	</mat-card-actions>
</mat-card>

<mat-card class="example-card" *ngIf="receivedMessage">
	<mat-card-content>Message from C# : {{receivedMessage}}</mat-card-content>
</mat-card>